[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinx-autobuild = "*"
myst-parser = "*"
sphinx-multitoc-numbering = "*"

[dev-packages]

[requires]
python_version = "3.9"
